# CS4661 HW3
## Group Project: Spooky Author Identification
### Instructor: Dr. Mohammad Porhomayoun

### Ponaroth Eab

Fall 2019

a- Read the dataset file “spooky-author-identification/test.csv”

In [174]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/MargaritaNuridj/csula_data_science/master/spooky-author-identification/train.csv")

a- Check out the dataset

In [175]:
df.head(20)

         id                                               text author
0   id26305  This process, however, afforded me no means of...    EAP
1   id17569  It never once occurred to me that the fumbling...    HPL
2   id11008  In his left hand was a gold snuff box, from wh...    EAP
3   id27763  How lovely is spring As we looked from Windsor...    MWS
4   id12958  Finding nothing else, not even gold, the Super...    HPL
5   id22965  A youth passed in solitude, my best years spen...    MWS
6   id09674  The astronomer, perhaps, at this point, took r...    EAP
7   id13515        The surcingle hung in ribands from my body.    EAP
8   id19322  I knew that you could not say to yourself 'ste...    EAP
9   id00912  I confess that neither the structure of langua...    MWS
10  id16737  He shall find that I can feel my injuries; he ...    MWS
11  id16607  Here we barricaded ourselves, and, for the pre...    EAP
12  id19764  Herbert West needed fresh bodies because his l...    HPL
13  id18886  The farm like grounds extended back very deepl...    HPL
14  id17189   But a glance will show the fallacy of this idea.    EAP
15  id12799  He had escaped me, and I must commence a destr...    MWS
16  id08441  To these speeches they gave, of course, their ...    EAP
17  id13117  Her native sprightliness needed no undue excit...    MWS
18  id14862  I even went so far as to speak of a slightly h...    EAP
19  id20836  His facial aspect, too, was remarkable for its...    HPL

In [176]:
df.author.value_counts()

EAP    7900
MWS    6044
HPL    5635
Name: author, dtype: int64

In [177]:
# filter the DataFrame using an OR condition to get only MWS and EAP (MWS is latter in ASKII order)
MWS_EAP = df[(df.author=='MWS') | (df.author=='EAP')]

In [178]:
MWS_EAP.shape
MWS_EAP.head(15)

         id                                               text author
0   id26305  This process, however, afforded me no means of...    EAP
2   id11008  In his left hand was a gold snuff box, from wh...    EAP
3   id27763  How lovely is spring As we looked from Windsor...    MWS
5   id22965  A youth passed in solitude, my best years spen...    MWS
6   id09674  The astronomer, perhaps, at this point, took r...    EAP
7   id13515        The surcingle hung in ribands from my body.    EAP
8   id19322  I knew that you could not say to yourself 'ste...    EAP
9   id00912  I confess that neither the structure of langua...    MWS
10  id16737  He shall find that I can feel my injuries; he ...    MWS
11  id16607  Here we barricaded ourselves, and, for the pre...    EAP
14  id17189   But a glance will show the fallacy of this idea.    EAP
15  id12799  He had escaped me, and I must commence a destr...    MWS
16  id08441  To these speeches they gave, of course, their ...    EAP
17  id13117  Her native sprightliness needed no undue excit...    MWS
18  id14862  I even went so far as to speak of a slightly h...    EAP

Define X and y from the new DataFrame, and then split X and y into training and testing sets, using the text as the only feature and the author as the response.

Keep in mind that X should be a pandas Series (not a DataFrame), since we will pass it to CountVectorizer in the task that foll

In [179]:
# define X and y
X = MWS_EAP.text
y = MWS_EAP.author

In [180]:
from sklearn.model_selection import train_test_split

# Splitting the dataset into testing and training:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, 
                                                    random_state=6)

In [181]:
# examine the object shapes
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9760,)
(4184,)
(9760,)
(4184,)

In [182]:
# import and instantiate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [183]:
# fit and transform X_train into X_train_dtm
X_train_dtm = vect.fit_transform(X_train)
X_train_dtm.shape

(9760, 16891)

In [184]:
# transform X_test into X_test_dtm
X_test_dtm = vect.transform(X_test)
X_test_dtm.shape

(4184, 16891)

In [185]:

# fit and transform X_train into X_train_dtm
y_train_dtm = vect.fit_transform(y_train)
y_train_dtm.shape

(9760, 2)

Use multinomial Naive Bayes to predict the 'author' for the 'text' in the testing set, and then calculate the accuracy

In [186]:
# import and instantiate MultinomialNB
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [187]:
# train the model using X_train_dtm
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [188]:
# make class predictions for X_test_dtm
y_pred_class = nb.predict(X_test_dtm)

In [189]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.8910133843212237

In [190]:
# from sklearn.linear_model import LinearRegression
# linear_regression = LinearRegression()
# linear_regression.fit(X_train_dtm, y_train_dtm)

In [191]:
# from sklearn.linear_model import LogisticRegression

# from sklearn.tree import DecisionTreeClassifier

# from warnings import simplefilter
# # Instantiated "logreg" as an object of LogisticRegression class.
# logreg = LogisticRegression()
# logreg.fit(X_train, Y_train)

In [192]:
# decisiontree = DecisionTreeClassifier(random_state=5)
# decisiontree.fit(X_train_dtm, Y_train)